*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
}

nav, footer{
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  z-index: 2;
}

nav{
  top:0;
}
footer{
  bottom:0;
}

h1{
  font-size: 18px;
  font-weight: 100;
}
p{
  font-size: 14 px;
  font-weight: 100;
  color: #777;
}